.resumeSection{
    .sectionContainer{
        display:flex;
        flex-wrap:wrap;
        padding:2% 0;
    }
    h2{
        text-transform: uppercase;
        color:rgb(210, 90, 103);
        width:100%;
        text-align: center;
    }
    .textContainer, .educationContainer, .workContainer{
        width:100%;
        display:flex;
        flex-wrap:wrap;
    }
}